@import './variable.styl'

.scroll-x
  overflow-x auto
.scroll-y
  overflow-y auto
.scroll-xy
  overflow-x auto
  overflow-y auto
.over-hide
  overflow hidden

.t-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

// 翻转
.revert-x
  transform rotateY(180deg)
