@import './variable.styl'

.scroll-x
  overflow-x auto
.scroll-y
  overflow-y auto
.scroll-xy
  overflow-x auto
  overflow-y auto
.over-hide
  overflow hidden

.t-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.w-100
  width 100%
.h-100
  height 100%
.w-6r
  width 6rem

// 翻转
.revert-x
  transform rotateY(180deg)

// 可选择
.selectable
  user-select text
