/**
 * 变量定义
 */
// 主色调
$color-primary = #2d8cf0
$color-light-primary = #5cadff
$color-dark-primary = #2b85e4

// 辅助色
$color-info = $color-primary
$color-success = #19be6b
$color-warning = #ff9900
$color-error = #ed3f14

// 中性色
$color-title = #1c2438
$color-content = #495060
$color-sub-title = #80848f
$color-disabled = #bbbec4
$color-border = #dddee1
$color-divider = #e9eaec
$color-background = #f8f8f9
